@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

* {
    box-sizing: border-box;
}

body { 
    font: 10pt/14pt "Trebuchet MS", sans-serif; 
	color: #1f1f1f; 
	background: #c3d3b2;
	margin: 0px; 
    display: grid;
	}

body a {
    color: 
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    align-items: start;
}

#zen-intro{
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

header{
    font-family: 'Yomogi', cursive;
    background-color: #445942;
    padding: 8px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / 6;
    background-image: url(https://images.trvl-media.com/place/6216448/b8ae4d67-6aab-46b0-9b95-9c178aba570c.jpg);
    background-position: 60%;
}

header abbr{
    color: #FFC000;
    text-decoration: none;
}

h1{
    padding: 10px;
    letter-spacing: 8px;
    color: #fff
}
h2{
    color: #dad2ba;
}

h3{
    color: #000;
    font-size: 26px;
    line-height: 28px;
}

b{

}


#zen-summary{
    grid-column: 5/6;
    width: 100%;
    grid-row: 2;
    padding-right: 50px;
    justify-content: center;
    vertical-align: center;
    align-self: stretch;
}

#zen-preamble{
    grid-column: 1/4;
    width: 100%;
    text-align: left;
    justify-self: left;
    padding-left: 50px;
    grid-row: 2;
}

#zen-supporting{
    grid-column:1/6;
    width: 100%;
    text-align: left;
    justify-self: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#zen-explanation{
    grid-column: 1/2;
}

#zen-participation{
    grid-column: 2/3;
}

#zen-benefits{
    grid-column: 3/4;
}

#zen-requirements{
    grid-column: 4/5;
}

footer{
    grid-column: 1/6;
    display: flex;
    gap: 100px;
    width: calc(100% + 100px);
    justify-content: center;
    flex-wrap: wrap;
    background-color: #445942;
    padding: 20px;
    padding-top:50px;
    padding-bottom:50px;
    margin-left: -50px;
    margin-right: -50px;
}

footer a{
    font-size: 20px;
    color: #fff;
}

.sidebar{
    grid-column: 6 / 7;
    grid-row: 1 / 5;
    justify-content: top;
    padding: 20px;
    height: 100%;
    background-color: #445942;
    color: #fff;
}

.sidebar a{
    color: #dad2ba;
}

.sidebar a:hover{
    color: #fff;
}

.sidebar h3{
    color: #fff;
    font-family: 'Yomogi', cursive;
}

@media (max-width: 900px) {
    .page-wrapper{
        grid-template-columns: repeat(1fr);
    }
    #zen-intro{
        grid-column: 1 / -1;
    }
    header{
        grid-column: 1 / -1;
    }
    #zen-summary{
        grid-column: 1 / -1;
        grid-row: auto;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }
    #zen-preamble{
        grid-column: 1 / -1;
        grid-row: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
    #zen-supporting{
        grid-column: 1 / -1;
        grid-gap: 0px;
    }
    #zen-explanation{
        grid-column: 1 / -1;
    }
    #zen-participation{
        grid-column: 1 / -1;
    }
    #zen-benefits{
        grid-column: 1 / -1;
    }
    #zen-requirements{
        grid-column: 1 / -1;
    }
    footer{
        grid-column: 1 / -1;
        margin: -50px;
        gap: 20px;
        margin-top: 10px;
    }
    .sidebar{
        grid-row: auto;
        grid-column: 1 / -1;
    }

    h1{
        line-height: 1.2em;
    }

    h2{
        line-height: 1.2em;
        padding-left: 10%;
        padding-right: 10%;
    }
 }